*,body{

padding:0;
margin: 0;
box-sizing: border-box;

}
.item{

background-color: wheat;
padding: 1rem;
}
.container{

display: grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
grid-gap: 1em;

}
.container > .example{

background-color: yellow;
grid-column-start: 3;
grid-column-end: 5;

}