body,html{

 margin:0 !important;
 padding:0 !important;

}
.navbar-nav a{
 
    
color:rgba(2, 2, 2, 0.5) !important;

}

.navbar-nav a:hover{

text-decoration:none  !important;
color:rgba(145, 55, 55, 0.678) !important;

}